#authAssociationRegisterPage {
    background: linear-gradient(180deg, #f9b16e 0%, #f68080 100%);
  }
  
  #authAssociationRegisterPage__h1 {
    background: linear-gradient(90deg, #f9b16e 4.73%, #f68080 80.81%);
    font-size: 3rem;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  #authAssociationRegisterPage__h3 {
    background: linear-gradient(90deg, #f9b16e 4.73%, #f68080 80.81%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .authAssociationRegisterPage__progress {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2.5em 0;
  }
  
  .authAssociationRegisterPage__progress {
    text-align: center;
    position: relative;
  }
  
  .authAssociationRegisterPage__progress::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 350px;
    top: 18px;
    background-color: #dedede;
  }
  
  .authAssociationRegisterPage__progress .element {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .authAssociationRegisterPage__progress .element h2 {
    border: 2px solid #dedede;
    background-color: white;
    z-index: 2;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
  }
  
  .authAssociationRegisterPage__progress .element p {
    font-size: 0.8em;
  }
  
  .authAssociationRegisterPage__progress .element h2.active {
    border: 2px solid #17a4e6;
    background-color: #e5f7ff;
    color: #17a4e6;
  }
  
  .authAssociationRegisterPage__progress .element p.active {
    color: #17a4e6;
    font-weight: 600;
  }
  